@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: "Montserrat", sans-serif;
  background-color: #3AA4B9;
}

p {
  color: #3AA4B9;
}

.joke-box {
  background-color: white;
  border-radius: 10px;
  margin: 200px auto;
  display: flex;
}

.blockquote {
  margin: 40px;
}

.btn {
  border-color: #E8E8E8;
  background-color: white;
  color: black;
}

.btn:hover {
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  color: black;
}